.userCard {
  background-color: #e0bbff;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  align-items: center;
  justify-content: space-between;
  grid-gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  justify-items: center;

  @media (max-width: 960px) {
    justify-items: baseline;
  }

  .cardPhoto {
    height: 100%;
    max-height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  .cardBody {
    overflow: hidden;
    max-width: 100px;
  }

  .cardText {
    text-align: center;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    font-size: 14px;
  }
}
