@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

$s-min: 20;
$s-max: 70;
$l-min: 30;
$l-max: 90;

.userCard {
  background-color: #fffaf0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    height: 100%;

    h2 {
      margin: 0;
    }
  }

  .cardBody {
    text-align: center;
    margin-bottom: 12px;
  }

  .cardPhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cardDetails {
    font-size: 14px;
    color: #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
    .viewButton {
      background-color: #000;
      color: #fff;
      border-radius: 24px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #333;
      }
    }
  }
}
